@import "tailwindcss";


/* Chrome / Edge / Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

/* Firefox */
input[type="password"] {
    -moz-appearance: textfield;
}